<div class="main">
  <!-- search bar -->
  <div class="searchBar">
    <input type="text" placeholder="Search settings">
  </div>

  <!-- nav top view -->
  <div class="topnav">
    <div>
      <a [class.active]="currentTab == 'user'" (click)="selectTab('user')" href="#">User</a>
    </div>
    <div>
      <a [class.active]="currentTab == 'workspace'" (click)="selectTab('workspace')" href="#">Workspace</a>
    </div>
  </div>
  <div class="container" *ngIf="currentTab == 'user'">
    <div class="boxMenu">
      <tree-root [nodes]="userMenuNodes" [options]="options"></tree-root>
    </div>
    <div class="boxConfig">
      <div class="menuHeader">{{ this.userMenuNodes[0].name }}</div>
      <app-config 
        [groupName]="'Files: '" 
        [configName]="'Auto Save '" 
        [remark]="'(Modified in: User)'" 
        [detail]="'Controls auto save of dirty editor. Read more about configName here.'"
        [list]="[]">
      </app-config>
      <app-config 
        [groupName]="'Editors: '"
        [configName]="'Font Size '" 
        [detail]="'Controls the font size in pixels.'"
        [value]="'14'">
      </app-config>
      <app-config 
        [groupName]="'Editors: '"
        [configName]="'Font Family '" 
        [detail]="'Controls the font family.'"
        [value]="'Menlo, Monaco, \'Courier New\', monospace'">
      </app-config>
      <app-config 
        [groupName]="'Editors: '"
        [configName]="'Tab Size '" 
        [detail]="'The number of spaces a tab is equal to. This setting is overridden based on the file contents when Editor: Detect Indentation is on.'"
        [value]="'4'">
      </app-config>
      <app-config 
        [groupName]="'Editors: '"
        [configName]="'Render Whitespace '" 
        [detail]="'Controls how the editor should render whitespace characters.'"
        [value]="'all'">
      </app-config>
      <app-config 
        [groupName]="'Editors: '"
        [configName]="'Cursor Style '" 
        [detail]="'Controls the cursor style.'"
        [value]="'line'">
      </app-config>
      <app-config 
        [groupName]="'Editors: '"
        [configName]="'Multi Cursor Modifier  '" 
        [detail]="'The modifier to be used to add multiple cursors with the mouse. The Go To Definition and Open Link mouse gestures will adapt such that they do not conflict with the multicursor modifier. Read more.'"
        [value]="'line'">
      </app-config>
    </div>
  </div>
  <div class="container" *ngIf="currentTab == 'workspace'">
    <div class="boxMenu">
      <tree-root [nodes]="workspaceMenuNodes" [options]="options"></tree-root>
    </div>
    <div class="boxConfig">
      <div class="menuHeader">{{ this.userMenuNodes[0].name }}</div>
      <app-config 
        [groupName]="'Files: '" 
        [configName]="'Auto Save '" 
        [remark]="'(Modified in: User)'" 
        [detail]="'Controls auto save of dirty editor. Read more about configName here.'"
        [value]="'off'">
      </app-config>
      <app-config 
        [groupName]="'Editors: '"
        [configName]="'Font Size '" 
        [detail]="'Controls the font size in pixels.'"
        [value]="'14'">
      </app-config>
      <app-config 
        [groupName]="'Editors: '"
        [configName]="'Font Family '" 
        [detail]="'Controls the font family.'"
        [value]="'Menlo, Monaco, \'Courier New\', monospace'">
      </app-config>
      <app-config 
        [groupName]="'Editors: '"
        [configName]="'Tab Size '" 
        [detail]="'The number of spaces a tab is equal to. This setting is overridden based on the file contents when Editor: Detect Indentation is on.'"
        [value]="'4'">
      </app-config>
    </div>
  </div>

</div>