.main {
    padding: 0 1.5em;
}

.searchBar {
    padding: 1em 0;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
}

.topnav {
    overflow: hidden;
    border-bottom: 1px solid rgb(154, 154, 154);
}
  
.topnav a {
    float: left;
    color: rgb(154, 154, 154);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.topnav a:hover {
    color: white;
}
  
.topnav a.active {
    color: white;
    border-bottom: 1px solid white;
}

.container {
    width: 100%;
    padding: 14px 16px;
    margin: 12px 10px;
}

.boxMenu {
    width: 200px;
    display: inline-block; 
    vertical-align: top;
}

.boxConfig {
    width: 70%;
    display: inline-block; 
    vertical-align: top;
}

.menuHeader {
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.iconArrow {
    background-image: '../assets/images/arrow-png.png';
}